<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
} 

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

body {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
	.form-links {
		text-align: center;
		margin-top: 1em;
		margin-bottom: 50px;
	}
	.form-links a {
		color: #fff;
	}
	.error{
		color:red;
		font-weight:900;
	}
	.sign_fb{
		float:left;
		width:100%;
	}
	.or_row {
	    float: left;
	    padding: 6% 0 7%;
	    width: 100%;
	}
	.or_row span {
	    background: none repeat scroll 0 0 #DFDDDD;
	    border-radius: 50%;
	    color: #010101;
	    display: block;
	    font-size: 20px;
	    height: 43px;
	    line-height: 42px;
	    margin: 0 auto;
	    text-align: center;
	    width: 43px;
	}
	</style>
	
</head>
<body>
	<div class="container">
	  	<div class="row" id="pwd-container">
		    <div class="col-md-1"></div>
		    <div class="col-md-10">
		      	<section class="login-form">
		        	<form method="post" action="" role="login">
		          		<h2 class='text-center'>Thank you, Your email id has been successfully verified.</h2>
		          		<h2 class='text-center'><a href="demo6Login">Login?</a></h2>
		          	</form>
		      	</section> 		      	 
		    </div>
		    <div class="col-md-1"></div>
		</div>
	</div>
</body>
</html>