<!DOCTYPE html>
<html>
<head>
  <title>Win Win</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

  <style type="text/css">
    .tbl_left{
	    padding-left: 18px !important;
	}
    .txt-mod{
      text-align: center;color:#FFF;font-size: 22px;
    }
    .fl-right{
      float: right;
    }
    .pad-spc{
      padding-top: 11px;
    }
    .no-bor-radius{
      border-radius: 0 !important;
    }
    .badge {
      display: inline-block;
      min-width: 10px;
      padding: 10px 40px !important;
      font-size: 16px !important;
      font-weight: 700;
      line-height: 1;
      color: #FFF !important;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      background-color: #337ab7 !important;
      border-radius: 10px;
    }
    .navbar{
      min-height: 60px !important;
    }
    .nav-tabs,.tab-content,.div-verify-btn{
      margin: 0 20px;
    }
    .btn-group-justified,.table-bordered,.div-profile,.div-password,.div-invite{
      margin: 20px 0;
    }
    .div-verify-btn{
        margin-top: 20px;
    }
    .verify{
        width:150px;
    }
    .required{color:red;}
    .topspc{
        margin-top: 10px;
    }
    .error{color:red;}
    .pad-left{padding-left: 0px !important; }
    .col_sm_12{width:100%;}
    .col_sm_4{width:33%;float:left;}
    .text-center-red{color:red;}
    .fb_share{padding-left:160px};
    .div-manageadmin{
      margin: 20px 0;
    }
    .frmbtntopspc{margin-top:18px;}
    .bg{margin-left : 20px; margin-right : 20px ; background-color:#286090}
    .liActive{color : white;}
    .liActive:hover{color:rgba(255, 255, 255, 0.54)}
    a:hover{text-decoration: none}
  </style>
</head>
<body>
	<nav class="navbar navbar-inverse no-bor-radius">
	  <div class="container-fluid pad-spc">
	    <div class="col-sm-4">
	      <div class="navbar-header txt-mod">
	        Win Win
	      </div>
	    </div>
	    <div class="col-sm-4 txt-mod">
	      <span class="badge"></span>
	    </div>
	    <div class="col-sm-4">
	      <div class="navbar-header txt-mod fl-right">
	        <!-- <button type="button" class="btn btn-danger" >Log Out</button> -->
	        <span style="font-size:12px;margin-right:15px;">Hi,</span>
	        <!-- <a href="/api/products/demo6AdminLogout" class="btn btn-danger">Log Out</a> -->
          <a onclick="window.location.href='/twitter'" class="btn btn-danger">Log Out</a>
	      </div>
	    </div>
	  </div>
	</nav>
	
    <% if(messages) { %>
	    <div class="col-sm-12">
	      <div class="alert alert-danger alert-block fade in alert-dismissable alerttopbtnspc" id="msg_display_area">
	        <i class="fa fa-bell"></i> <span class="alertleftspc"><%= messages %></span>
	      </div>
	    </div>
	<% } %>	
		
	  	<div id="administrators" style="margin-top:15px">
	  		<form method="POST" action="/api/products/demo6AdminRegister" role="login" name="addAdminForm" id="addAdminForm">
	  			<div class=" col-sm-12  div-manageadmin">
		  			<div class="col-sm-4">
		  				<label>Facebook Id </label>
		  				<input type="text" name="twitter_id"  id="twitter_id" value="" class="form-control">
		  			</div>
		  			<div class="col-sm-4">
		  				<label>Facebook Shares </label>
		  				<input type="text" name="followers"  id="followers" class="form-control" value="" class="form-control">
		  			</div>
		  			<div class="col-sm-4 ">
		  				<label>Facebook Likes</label>
		  				<input type="text" class="form-control " id="createdAt " class="createdAt" name='createdAt' value="">
		  			</div>
		  		</div>
		  	</form>
	  	</div>
</body>
<script type="text/javascript">
		$('#msg_display_area').show(8000);
		$('#msg_display_area').fadeOut(2000);
	
	$(document).ready(function(){
    
  });


</script>
</html>